@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
}

h1 {
    color: #F6F6F6;
}

p {
    color: #F6F6F6;
}

img {
    border-radius: 8%;
}

.destaque-titulo {
     color: #22D4FD;
}

.apresentacao {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__texto {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__texto__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__texto__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: "Krone One", sans-serif;
    color: #F6F6F6;
    font-weight: 400;
    font-size: 24px;
}

.icones {
    width: 30px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #22D4FD;
    width: 378px;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: #000000;
    background-color:#22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}